
h2 {
  font-size: 50px;
  text-align: center;
}
.result-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 0px 30px;
  .card-wrapper {
    margin: 15px;
    height: 450px;
    width: 370px;
    border-radius: 5px;
    border: 5px solid lighten($color: $accent-1, $amount: 20%);
    padding-top: 16px;
    .card-img-wrapper {
      width: 300px;
      height:300px;
      padding: 10px;
      img {
      width: 300px;
      height:300px;
      }
    }
    .card-txt-wrapper{
      margin: 20px 0px;
      font-size: 22px;
    }
  } 
}


.result-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
#result-page-btn {
  height: 60px;
  width: 120px;
  text-align: center;
  margin: 30px auto;
  color: $accent-1;
  border-radius: 5px;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(247,250,250,0.34);
  -moz-box-shadow: 0px 0px 5px 0px rgba(247,250,250,0.34);
  box-shadow: 0px 0px 5px 0px rgba(247,250,250,0.34);
  border: none;
  a {
    text-decoration: none;
    color: lighten($color: $accent-1, $amount: 20%);
  }
}
}

.spinner {
  color: white;
}