@import './variables.scss';
@import './card.scss';
@import './nav.scss';
@import './home.scss';


*{
  background-color: $bg-color;
  color: $txt-color;
}


body {
  height: 100vh;
  box-sizing: border-box;
}


section {
  height: 96vh;
  
}


